@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body,
html {
  font-family: 'Inter', sans-serif !important;
}

h1 {
  font-weight: 700 !important;
}

.btn-lg {
  height: 100% !important;
}

#id-video input {
  padding: 8px 16px !important;
}

button,
input {
  width: 100% !important;
  height: 40px;
  border-radius: 6px;
  border-color: #8f8f8f !important;
}

label {
  font-weight: 500 !important;
  font-size: 18px;
}

.registerButton {
  width: 100%;
}

.loginButton {
  width: 100%;
}

#registerCaption {
  color: grey;
  text-align: center;
}

#loginCaption {
  color: grey;
  text-align: center;
}

.registerContainer input {
  font-size: 30px !important;
  background-color: red !important;
}

.loginCaption input {
  font-size: 30px !important;
  background-color: red !important;
}

span.helpText {
  color: red !important;
}
