{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Filecify</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  </head>
  <body>
    
    <div class="header">
      
     <div class="wrapper">
      <nav class="navbar navbar-dark bg-dark">
        <!-- <img src="/app/image/circle_checked.png" alt=""> -->
        <span class="navbar-brand mb-0 h1">Filecify</span>
        <p> Assignment provided by mediacollege</p>
      </nav>
      <div class="upload">
        <h1> Upload your video</h1>
      </div>   
     </div>  
      
    </div>
  
   
    <div class="container wrapper">
      <div class="mt-5">
        <form action="." method="post" enctype="multipart/form-data">
          <button class="upload_button">Upload</button>
          {% csrf_token %} {{form.as_p}}
        </form>
      </div>

    
      {% for x in all %}
     
      <h3 class="text-center mt-2 mb-2">{{x.caption}}</h3>
      <video
        class="embed-responsive embed-responsive-16by9"
        controls="controls"
      >
        <source src="{{x.video.url}}" type="video/mp4" />
      </video>
      {% endfor %}
   
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
